# Google Sheet Configuration
GOOGLE_SHEET_ID=1vTODUAg2mUYQUTN3P9SPB5Q41Ta_9SufI2gct0GBYDUbPSJX81O1mWHgBjElAIfNfobEbd7Mkii18lt
SERVICE_ACCOUNT_JSON_PATH=./service-account.json

# Gmail Configuration (for nodemailer)
# Use App Passwords if 2FA is enabled: https://myaccount.google.com/apppasswords
GMAIL_USER=your-email@gmail.com
GMAIL_PASS=your-app-password
